* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

:root {
  --gradient-color: hsl(6, 100%, 80%), hsl(335, 100%, 65%);
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
}

body {
  background-color: var(--very-dark-blue);
  min-width: 260px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

body::before {
  content: '';
  background-image: url("../assets/bg-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

main {
  width: 90%;
  min-height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.upload-container {
  background-color: var(--dark-blue);
  max-width: 350px;
  width: 90%;
  display: block;
  padding: 3rem;
  border-radius: 0.6rem 6rem 0.6rem 0.6rem;
}

.upload-container .upload-logo {
  max-width: 130px;
  width: 100%;
  image-rendering: crisp-edges;
  margin-bottom: 1.8rem;
}

.upload-container .upload-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.upload-container .upload-buttons .button {
  background-color: var(--very-dark-blue);
  max-width: 45px;
  width: 100%;
  height: 45px;
  font-size: 0;
  margin-right: 1.2rem;
  padding: .8rem;
  border-radius: 0.5rem;
  border: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

.upload-container .upload-buttons .button:hover {
  opacity: 90%;
}

.upload-container .upload-buttons .button .button-image {
  image-rendering: crisp-edges;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 20px;
  min-width: 16px;
  width: 100%;
}

.storage-container {
  background-color: var(--dark-blue);
  max-width: 350px;
  width: 90%;
  position: relative;
  display: block;
  padding: 3rem;
  border-radius: 0.6rem;
}

.storage-container .using-storage {
  width: 100%;
  color: var(--pale-blue);
  font-size: clamp(0.9rem, 5vw, 1rem);
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

.storage-container .using-storage strong {
  font-weight: 700;
}

.storage-container .input-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.storage-container .input-container .input--storage {
  background-color: var(--very-dark-blue);
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  padding: 0.25em;
  border-radius: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.storage-container .input-container .input--storage::-webkit-slider-thumb {
  background: white;
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  margin-top: calc(3px * 0.5 - 10px * 0.5);
  margin-top: 0.005rem;
  border-radius: 0.5rem;
  border: none;
}

.storage-container .input-container .input--storage::-webkit-slider-runnable-track {
  background: white;
  height: 95%;
  border: none;
  border-radius: 0.5rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.storage-container .input-container .input--storage::-webkit-slider-runnable-track {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa399), to(#ff4d97)) 0/var(--sx) 100% no-repeat, var(--very-dark-blue);
  background: linear-gradient(#ffa399, #ff4d97) 0/var(--sx) 100% no-repeat, var(--very-dark-blue);
}

.storage-container .input-container .input--storage:hover::-webkit-slider-runnable-track {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa399), to(#ff4d97)) 0/var(--sx) 100% no-repeat, var(--very-dark-blue);
  background: linear-gradient(#ffa399, #ff4d97) 0/var(--sx) 100% no-repeat, var(--very-dark-blue);
}

.storage-container .input-container .input--storage:active::-webkit-slider-runnable-track {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa399), to(#ff4d97)) 0/var(--sx) 100% no-repeat, var(--very-dark-blue);
  background: linear-gradient(#ffa399, #ff4d97) 0/var(--sx) 100% no-repeat, var(--very-dark-blue);
}

.storage-container .input-container .input--storage {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 10px + var(--ratio) * (100% - 10px));
}

.storage-container .input-container .total-storage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.storage-container .input-container .total-storage h4 {
  color: var(--pale-blue);
  font-size: 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.storage-container .storage-available {
  background-color: white;
  max-width: 160px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
}

.storage-container .storage-available .gb-available {
  color: var(--very-dark-blue);
  font-size: clamp(2rem, 10vw, 2.2rem);
  margin-right: 0.4rem;
}

.storage-container .storage-available h6 {
  color: var(--grayish-blue);
  font-size: clamp(0.7rem, 10vw, 0.9rem);
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */